@font-face {
    font-family: Vazir;
    src: url('https://rawcdn.githack.com/rastikerdar/vazir-font/v19.2.0/dist/Vazir.eot');
    src: url('https://rawcdn.githack.com/rastikerdar/vazir-font/v19.2.0/dist/Vazir.eot?#iefix') format('embedded-opentype'),
         url('https://rawcdn.githack.com/rastikerdar/vazir-font/v19.2.0/dist/Vazir.woff') format('woff'),
         url('https://rawcdn.githack.com/rastikerdar/vazir-font/v19.2.0/dist/Vazir.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazir;
    src: url('https://rawcdn.githack.com/rastikerdar/vazir-font/v19.2.0/dist/Vazir-Bold.eot');
    src: url('https://rawcdn.githack.com/rastikerdar/vazir-font/v19.2.0/dist/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
         url('https://rawcdn.githack.com/rastikerdar/vazir-font/v19.2.0/dist/Vazir-Bold.woff') format('woff'),
         url('https://rawcdn.githack.com/rastikerdar/vazir-font/v19.2.0/dist/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
    font-display: swap;
}

@font-face {
  font-family: "Vazir Code";
  src: url('https://rawcdn.githack.com/rastikerdar/vazir-code-font/v1.1.1/dist/Vazir-Code.eot');
  src: url('https://rawcdn.githack.com/rastikerdar/vazir-code-font/v1.1.1/dist/Vazir-Code.eot?#iefix') format('embedded-opentype'),
       url('https://rawcdn.githack.com/rastikerdar/vazir-code-font/v1.1.1/dist/Vazir-Code.woff') format('woff'),
       url('https://rawcdn.githack.com/rastikerdar/vazir-code-font/v1.1.1/dist/Vazir-Code.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
}

body {
    font-family: Vazir, sans-serif;
    direction: rtl;
}

pre code,
#html,
#markdown {
    font-family: "Vazir Code", monospaced;
}

#left-column,
#right-column {
    float: right;
}

#html,
#markdown {
    line-height: 1.4;
    padding: 0 0.5em 0 1em;
}

#preview {
    padding: 0 0.5em 0 1em;
}

#preview ol {
    list-style-type: -moz-persian;
    list-style-type: persian;
}

#preview code {
    display: inline-block;
    direction: ltr !important;
    margin-left: 5px;
}

#preview pre {
    display: block;
    direction: ltr !important;
    margin-left: 5px;
}

blockquote {
    border-left: none;
    border-right: 5px solid var(--quote-border-color);
    padding-left: 0;
    padding-right: 10px;
}

.wrapper {
    padding: 22px 10px 20px 0px !important;
}

#right-column .wrapper {
    padding-left: 10px;
    padding-right: 9px;
    border-left: none;
    border-right: 1px solid var(--column-border-color);
}

#quick-reference table td {
    width: 50%;
}

#quick-reference table td pre {
    font-size: 1.2em;
    line-height: 1.2;
}

#quick-reference table td:last-child {
    padding-left: 0;
    padding-right: 20px;
}

.topbar .buttons-container {
    float: left;
}

.bottom-bar {
    padding-right: 0px;
    padding-left: 5px;
}

.bottom-bar .word-count {
    float: left;
}

.topbar .buttons-container .button,
.topbar .buttons-container .button-group {
    float: right;
}

.topbar .buttons-container .button-group .button.switch::after {
    display: none;
}

.topbar .buttons-container .button-group .button.switch::before {
    right: auto;
    left: -4px;
}

.topbar .buttons-container .button-group .button.switch:first-child {
    padding-left: 3px;
    padding-right: 6px;
}

#top_panels_container .top_panel h2 a {
    text-decoration: none;
}

#top_panels_container .top_panel .close {
    right: auto;
    left: 15px;
}

#settings label {
    padding-right: 0;
    padding-left: 20px;
}

#settings #decrease-font-size::after {
    content: "\0627\0644\0641";
}

#settings #increase-font-size::after {
    content: "\0627\0644\0641";
}

#settings #decrease-font-size::before {
    content: "-";
}

#settings #increase-font-size::before {
    content: "+";
}

#settings .theme-control .button {
    margin-left: 0;
    margin-right: 10px;
}

.icon-virastar {
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    padding-left: 0;
    padding-right: 0;
    text-align: center;
    line-height: 18px;
}

.icon-virastar svg {
    display: inline-block;
    width: 14px;
    height: 18px;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
